.square-container {
  width: 300px;
  height: 300px;

 list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    // grid-gap: 20px;
 
  
}
.square-container li {
  width: 100%;
  height: 100%;
  
  // padding: .5em;
}

.square-wrap {
  width: 100%;
  height: 100%;
}